h1 {
  @apply text-2xl ;
}

h3 {
  @apply text-xl text-white;
}
span{
  @apply text-base leading-none  text-gray-500
}

/*Status */
.pending {
  @apply border-2 p-2 rounded-lg text-pendingdTheme border-pendingdTheme;
}

.completed {
  @apply border-2 p-2 rounded-lg text-completedTheme border-completedTheme;
}

.failed {
  @apply border-2 p-2 rounded-lg text-deadlineTheme border-deadlineTheme;
}
/*button*/
.register{
  @apply  bg-purpleMain  border-2 border-purpleBorder 
  focus:outline-none  flex justify-center 
  cursor-pointer p-2 px-4 text-2xl 
  hover:bg-purpleBorder hover:bg-opacity-50 transition-all duration-75 ease-in
  rounded-lg text-white ;
}

.login{
  @apply  bg-purpleBorder focus:outline-none flex justify-center 
  active:scale-95  transition-all duration-75 ease-in
  cursor-pointer p-2 px-4 text-2xl rounded-lg text-white;

}
.clear-task{
  @apply border-2 border-deadlineTheme text-deadlineTheme hover:bg-deadlineTheme hover:text-white hover:scale-105 transition-all duration-100 ease-in-out px-4 py-2 rounded-2xl
}
.done-button {
  @apply bg-purpleBorder flex justify-center cursor-pointer p-2 px-4 text-2xl rounded-lg text-white;
}

.pin-button {
  @apply bg-purpleActive flex justify-center cursor-pointer p-2 px-4 text-2xl  text-white;
}

.delete-step {
  @apply cursor-pointer px-2 py-1 opacity-50 transition-all ease-in;
}

.delete-step:hover {
  @apply text-white bg-deadlineTheme rounded-full opacity-100;
}

/* ลิงก์ */
.link {
  @apply font-bold no-underline;
}
.link:visited {
  @apply text-black;
}

title{
  @apply bg-purpleBorder flex justify-center cursor-pointer p-2 px-4 text-2xl rounded-lg text-white;
}

/* no task */
.popup-notask {
  position: fixed;
  top: -15%;
  left: -15%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px); 
}
/* Popup */
.popup-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px); 
}
.clear-allTask {
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 1000;
  
}
.logout {
  position: fixed;
  bottom: 5%;
  left: 3.5%;
  z-index: 1000;
  
}
.popup-content {
  z-index: 1001;
}


/* input */
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  background-color: #313144;
  border-width: 2px;
 
  border-color: rgb(110, 110, 110);
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="checkbox"]:hover {
  border-color: #7a36df
}

/* dropdown menu */
.dropdown {
  @apply bg-purpleMain;
  z-index: 1;
  transform: translateY(10px); 
  max-height: 0; 
  overflow: hidden; 
  transition: transform 0.3s ease, max-height 0.3s ease; 
  box-shadow: none; 
}

.show-entity:hover .dropdown,
.show-entity:focus-within .dropdown {
  transform: translateY(20); 
  max-height: 230px; 
  
}

.dropdown-item {
  padding: 5px 0px;
  text-decoration: none;
  font-size: larger;
  transform: translateX(-20px);
  transition: transform 0.3s ease, max-height 0.3s ease;
}

.dropdown-item:focus-within{
  @apply bg-purpleActive text-white;
  transform: translateX(0);
}

/* Calendar */
.custom-calendar-container {
  padding: 7px;
}

.react-calendar {
  background: none;
  border: none;
}

.react-calendar__tile {
  background-color: transparent;
  color: white;
  font-size:medium;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(255, 255, 255, 0.2); /* สีพื้นหลังเมื่อ hover */
}

.react-calendar__navigation button {
  color: white;
  background: none;
  border: none;
}

.react-calendar__month-view__weekdays {
  color: white;
  font-size: large;
  
}

.react-calendar__tile--now {
  background: #7a36df; /* สีของวันที่ปัจจุบัน */
  color: white;
  border-radius: 8px;
}

.react-calendar__tile--active {
  background: #ff4d4d; /* สีของวันที่ถูกเลือก */
  color: white;
  border-radius: 8px;
}

.react-calendar__tile--range {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
