#mainLayout {
    @apply h-screen grid;
    overflow: hidden
}

#nav-bar {
    @apply bg-darkBackground flex justify-between items-center pt-10 z-50;
}

#side-bar {
    @apply bg-purpleSidebar py-5  flex flex-col  border-purpleNormal border-r-[2px] overflow-hidden ;
    width: 17rem;
    max-width: 17rem;
    min-width: 17rem;
}
#side-bar.sidebar-collapsed {
    width: 5rem; 
    transition: width 0.3s ease;
    min-width: 5rem;
}

#home {
    @apply  bg-darkBackground pt-5 h-screen grid grid-cols-2 ;
}

#otherPage {
    @apply  bg-darkBackground h-screen  ;
}


  