#mainLayout {
    @apply h-screen grid md:overflow-hidden;
   
}

#nav-bar {
    @apply bg-purpleNavbar border-b-2 border-b-purpleNormal  flex justify-between items-center py-2 md:py-2 z-50;
}

#side-bar {
    @apply absolute top-12 z-10 bg-purpleSidebar bg-opacity-50 py-10 border-r-2 border-r-purpleNormal  overflow-hidden ;
    width: 17rem;
    max-width: 17rem;
    min-width: 17rem;
    height: 50rem;
}
#side-bar.sidebar-collapsed {
    width: 5rem; 
    transition: width 0.3s ease;
    min-width: 5rem;
}

#home {
    @apply  bg-darkBackground pt-5 h-screen md:grid grid-cols-2 ;
}

#otherPage {
    @apply  bg-darkBackground h-screen  ;
}


  